.photo-grid {
  width: 90%;
  margin: 0 auto;
  padding: 92px 0;
  display: grid;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 500px) {
  .photo-grid {
    grid-template-columns: 1fr;
    gap: 12px;
  }
}

@media screen and (min-width: 500px) and (max-width: 1000px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1280px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
}
