.places {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (max-width: 1280px) {
  .places {
    width: 90%;
  }
}

@media screen and (min-width: 1280px) {
  .places {
    width: 77%;
  }
}

@media screen and (max-width: 768px) {
  .places {
    gap: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .places {
    gap: 73px;
  }
}

@media screen and (min-width: 1024px) {
  .places {
    gap: 80px;
  }
}
