.cover__subtitle {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 599px) {
  .cover__subtitle {
    max-width: 90%;
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (min-width: 600px) {
  .cover__subtitle {
    max-width: 360px;
    font-size: 18px;
    line-height: 22px;
  }
}
