.header__logo {
  object-fit: contain;
}

@media screen and (max-width: 424px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}

@media screen and (min-width: 425px) {
  .header__logo {
    width: 176px;
    height: 52px;
  }
}
