.header {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (min-width: 425px) {
  .header {
    height: 80px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    height: 58px;
  }
}
