.footer__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
}

.footer__link:hover {
  opacity: 0.8;
  transition: opacity 0.2s ease-out;
}

@media screen and (max-width: 768px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}

@media screen and (min-width: 768px) {
  .footer__link {
    font-size: 16px;
    line-height: 18px;
  }
}
