.lead__title {
  text-align: center;
  font-style: normal;
  font-weight: 900;
  max-width: 720px;
}

@media screen and (max-width: 768px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .lead__title {
    font-size: 96px;
    line-height: 100px;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 1280px) {
  .lead__title {
    margin-top: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__title {
    margin-top: 56px;
  }
}
