.footer__links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

@media screen and (max-width: 768px) {
  .footer__links {
    flex-direction: column;
    gap: 32px;
  }
}

@media screen and (min-width: 768px) {
  .footer__links {
    flex-direction: row;
    gap: 18px;
  }
}
