.footer__copyright {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 14px;
  }
}

@media screen and (min-width: 768px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 16px;
  }
}
