.lead__subtitle {
  font-style: normal;
  font-weight: 400;
  text-align: center;
  max-width: 640px;
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 40px;
    max-width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .lead__subtitle {
    font-size: 30px;
    line-height: 36px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .lead__subtitle {
    margin: 0 0 56px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__subtitle {
    margin: 0 0 64px;
  }
}
