.cover {
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  display: flex;

}

@media screen and (max-width: 599px) {
  .cover {
    margin: 66px auto 64px;
    min-height: 200px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1023px) {
  .cover {
    margin: 90px auto 88px;
    min-height: 480px;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    margin: 92px auto;
    min-height: 640px;
  }
}

@media screen and (max-width: 1279px) {
  .cover {
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    width: 90%;
    min-height: 740px;
  }
}
