.cover__overlay {
  width: 100%;
  min-height: 100%;
  background-color: rgba(42, 44, 47, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, 0.8);
  transition: background-color 0.2s ease-out;
}
