.cover__title {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .cover__title {
    max-width: 75%;
    font-size: 32px;
    line-height: 35px;
    margin: 0 0 16px;
  }
}

@media screen and (min-width: 768px) {
  .cover__title {
    max-width: 560px;
    font-size: 72px;
    line-height: 76px;
    margin: 0 0 32px;
  }
}
