.place {
  display: grid;
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 1fr;
    row-gap: 32px;
  }
}

@media screen and (min-width: 768px) {
  .place {
    grid-template-columns: 1fr 48.8%;
    gap: 48px 3.8%;
  }
}
