.place__url-heading {
  color: #AAAAAA;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 2px;
  margin: 0 0 12px;
  border: 1px solid red;
}
