.header__lang-links {
  display: flex;
  gap: 18px;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@media screen and (max-width: 424px) {
  .header__lang-links {
    margin: 0 0 8px;
  }
}

@media screen and (min-width: 425px) {
  .header__lang-links {
    margin: 0 0 6px;
  }
}
