.intro__title {
  font-style: normal;
  font-weight: 900;
}

@media screen and (max-width: 768px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    margin: 64px 0 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .intro__title {
    font-size: 54px;
    line-height: 58px;
    margin: 88px 0 0;
  }
}

@media screen and (min-width: 1024px) {
  .intro__title {
    font-size: 54px;
    line-height: 58px;
    margin: 92px 0 0;
  }
}
